/* ProdukDetail.css */

.detail-container {
  padding-top: 90px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
  max-width: 90%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-column {
  flex: 1;
  min-width: 300px;
}

.image-column img {
  width: 100%;
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-column h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.info-column p {
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.6;
  color: #555;
}

.info-column p strong {
  font-size: 1.2em;
  color: #333;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.product-actions input {
  width: 60px;
  padding: 5px;
  font-size: 1em;
}

.product-actions button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-actions button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
  }

  .detail-column {
    min-width: 100%;
  }

  .title-column h1 {
    font-size: 1.5em;
  }

  .info-column p {
    font-size: 0.9em;
  }

  .product-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-actions input {
    width: 100%;
  }

  .product-actions button {
    width: 100%;
    text-align: center;
  }
}
/* ProdukDetail.css */
/* ProdukDetail.css */

/* Tambahkan aturan CSS berikut di dalam media query untuk ukuran layar mobile */
@media (max-width: 375px) {
  .image-column img {
    max-height: 150px; /* Sesuaikan tinggi maksimum gambar dengan kebutuhan Anda */
  }

  .info-column p {
    font-size: 0.7em; /* Ubah ukuran font untuk teks menjadi lebih kecil */
  }

  .product-actions input {
    width: 40px; /* Ubah lebar input menjadi lebih kecil */
    font-size: 0.7em; /* Ubah ukuran font untuk input menjadi lebih kecil */
  }

  .product-actions button {
    padding: 6px 12px; /* Sesuaikan padding tombol agar lebih sesuai dengan tampilan mobile */
    font-size: 0.7em; /* Ubah ukuran font untuk tombol menjadi lebih kecil */
  }
}

.review-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.review {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.review p {
  margin: 5px 0;
  color: #555;
}

.review p strong {
  color: #333;
}
